Isaac Reyes

4.DATA MANIPULATION IN PYTHON

Load the airquality data set regarding a set of New York Air Quality Measurements.

In [3]:
import pandas as pd
import numpy as np
from statsmodels.datasets import get_rdataset

In [4]:
airqualitu=get_rdataset('airquality')
df = get_rdataset('airquality').data

df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

(n) For which attributes are there missing values?

In [5]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

(o) Do all the attributes are in the most suitable data type? Make the changes you find necessary.

In [6]:
df.dtypes # Todos estan adecuados

Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

(p) What period of the year do these records refer to?

In [7]:
min_month = df['Month'].min()
max_month = df['Month'].max()

print("Período:", min_month, "Month", "-", max_month, "Month")

Período: 5 Month - 9 Month

(q) Load the package dplyr and save the data set in a table data frame format.

In [ ]:
#Dataframes

(r) Select the days in May with a temperature above 70 Fahrenheit.

In [8]:
may_above_70 = df[(df['Month'] == 5) & (df['Temp'] > 70)]

days = may_above_70['Day']

print(days)

1      2
2      3
10    11
21    22
28    29
29    30
30    31
Name: Day, dtype: int64

(s) Create a new attribute TempC which represents the temperature values in Celsius.

In [9]:
df['TempC'] = (df['Temp'] - 32) * 5/9
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day      TempC
0   41.0    190.0   7.4    67      5    1  19.444444
1   36.0    118.0   8.0    72      5    2  22.222222
2   12.0    149.0  12.6    74      5    3  23.333333
3   18.0    313.0  11.5    62      5    4  16.666667
4    NaN      NaN  14.3    56      5    5  13.333333

(t) Inspect which were the 30 hottest days.

In [10]:
hottest_30_days = df.nlargest(30, 'Temp')
hottest_30_days = hottest_30_days['Day']
print(hottest_30_days)

119    28
121    30
120    29
122    31
41     11
125     3
126     4
42     12
68      8
69      9
101    10
124     2
74     14
123     1
39      9
99      8
100     9
70     10
98      7
67      7
88     28
118    27
38      8
40     10
79     19
97      6
127     5
84     24
87     27
89     29
Name: Day, dtype: int64

(u) Inspect which were the hottest days, but also with the highest ozone values.

In [11]:
hottest_days_with_highest_ozone = df.sort_values(by=['Temp', 'Ozone'], ascending=[False, False]).head()

hottest_days_with_highest_ozone = hottest_days_with_highest_ozone['Day']

print(hottest_days_with_highest_ozone)

119    28
121    30
120    29
122    31
126     4
Name: Day, dtype: int64

(v) Inspect the number of days for which there was a register for each month.

In [12]:
month_counts = df['Month'].value_counts()

print(month_counts)

5    31
7    31
8    31
6    30
9    30
Name: Month, dtype: int64

(w) For each month, obtain the minimum and the maximum temperature registered in Celsius.

In [13]:
temperature_summary = df.groupby('Month')['TempC'].agg(['min', 'max'])

print(temperature_summary)

             min        max
Month
5      13.333333  27.222222
6      18.333333  33.888889
7      22.777778  33.333333
8      22.222222  36.111111
9      17.222222  33.888889

(x) Obtain the average of the following parameters by month: temperature in celsius, wind, solar
radiation and ozone.

In [14]:
df.head()
average_parameters = df.groupby('Month')[['TempC', 'Wind', 'Solar.R', 'Ozone']].mean()
print(average_parameters)

           TempC       Wind     Solar.R      Ozone
Month
5      18.637993  11.622581  181.296296  23.615385
6      26.166667  10.266667  190.166667  29.444444
7      28.835125   8.941935  216.483871  59.115385
8      28.870968   8.793548  171.857143  59.961538
9      24.944444  10.180000  167.433333  31.448276

(y) What values did you obtain regarding ozone and solar radiation attributes? Why? Make the
necessary change so that you get the average of the registered values.

In [15]:
df = df.dropna()
average_parameters = df.groupby('Month').agg({'Ozone': 'mean', 'Solar.R': 'mean'})
print(average_parameters)

           Ozone     Solar.R
Month
5      24.125000  182.041667
6      29.444444  184.222222
7      59.115385  216.423077
8      60.000000  173.086957
9      31.448276  168.206897