Isaac Reyes

***2 Hands On: Data Quality and Pre-Processing***

***1. Assessing Data Quality***

**Load the following packages: dplyr, na.tools, tidyimpute (version from github decisionpatterns/tidyimpute”)**

*Load the car Insurance data set about the insurance risk rating of cars based on several characteristics of each car*

In [1]:
install.packages("dplyr")
install.packages("na.tools")
install.packages("remotes")  # Required for installing packages from GitHub
remotes::install_github("decisionpatterns/tidyimpute", force=TRUE)

Installing package into 'C:/Users/pc/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\pc\AppData\Local\R\win-library\4.3\00LOCK\dplyr\libs\x64\dplyr.dll  a C:\Users\pc\AppData\Local\R\win-library\4.3\dplyr\libs\x64\dplyr.dll: Permission denied"
Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\pc\AppData\Local\Temp\RtmpSsQegv\downloaded_packages

Installing package into 'C:/Users/pc/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

package 'na.tools' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\pc\AppData\Local\Temp\RtmpSsQegv\downloaded_packages

Installing package into 'C:/Users/pc/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

package 'remotes' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\pc\AppData\Local\Temp\RtmpSsQegv\downloaded_packages

Downloading GitHub repo decisionpatterns/tidyimpute@HEAD

Running `R CMD build`...

* checking for file 'C:\Users\pc\AppData\Local\Temp\RtmpSsQegv\remotes629025e13420\decisionpatterns-tidyimpute-9e07748/DESCRIPTION' ... OK
* preparing 'tidyimpute':
* checking DESCRIPTION meta-information ... OK
* checking for LF line-endings in source and make files and shell scripts
* checking for empty or unneeded directories
* building 'tidyimpute_0.2.0.tar.gz'

Installing package into 'C:/Users/pc/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

In [2]:
library(dplyr)
library(na.tools)
library(tidyimpute)
#cargamos librerias

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [13]:
#install.packages("readr") cargamos las librerias aunque ya exista
#library(readr)
# Cargar el archivo imports-85.data
data <- read_delim("/Users/pc/Desktop/Universidad/6 semestre/Machine Learning & Data Mining/Deberes/2 Hands On Data Quality and Pre-Processing/data/imports-85.data")

Rows: 204 Columns: 26
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (16): ?, alfa-romero, gas, std, two, convertible, rwd, front, dohc, four...
dbl (10): 3, 88.60, 168.80, 64.10, 48.80, 2548, 130, 9.00, 21, 27

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [14]:
# Visualizar las primeras filas del conjunto de datos
head(data)

  3 ?   alfa-romero gas std two  convertible rwd front 88.60 ⋯ 130 mpfi 3.47
1 3 ?   alfa-romero gas std two  convertible rwd front  88.6 ⋯ 130 mpfi 3.47
2 1 ?   alfa-romero gas std two  hatchback   rwd front  94.5 ⋯ 152 mpfi 2.68
3 2 164 audi        gas std four sedan       fwd front  99.8 ⋯ 109 mpfi 3.19
4 2 164 audi        gas std four sedan       4wd front  99.4 ⋯ 136 mpfi 3.19
5 2 ?   audi        gas std two  sedan       fwd front  99.8 ⋯ 136 mpfi 3.19
6 1 158 audi        gas std four sedan       fwd front 105.8 ⋯ 136 mpfi 3.19
  2.68 9.00 111 5000 21 27 13495
1 2.68  9.0 111 5000 21 27 16500
2 3.47  9.0 154 5000 19 26 16500
3 3.40 10.0 102 5500 24 30 13950
4 3.40  8.0 115 5500 18 22 17450
5 3.40  8.5 110 5500 19 25 15250
6 3.40  8.5 110 5500 19 25 17710

(a) Check if there are any missing values.

In [24]:
# Check for missing values
missing_values <- data %>% 
  summarise(any_missing = any_na(.))
#USAMOS EL TIP DE ANY_NA DEL PDF
# Print the result
print(missing_values)

# A tibble: 1 × 1
  any_missing
  <lgl>
1 FALSE

In [18]:
missing_values <- any_na(data) #usamos el tip, y cargamos de ahi para imprimir
print(missing_values)

[1] FALSE

(b) Count the number of cases that have, at least, one missing value.

In [25]:
# Count the number of cases with missing values
count_missing_cases <- data %>% 
  filter_any_na() %>%
  count()

# Print the count
print(count_missing_cases)

# A tibble: 1 × 1
      n
  <int>
1   204

(c) Create a new data set by removing all the cases that have missing values.

In [27]:
# Create a new dataset without missing values
new_data <- data %>% 
  drop_rows_any_na()

# Print the new dataset
print(new_data)

# A tibble: 204 × 26
     `3` `?`   `alfa-romero` gas   std   two   convertible rwd   front `88.60`
   <dbl> <chr> <chr>         <chr> <chr> <chr> <chr>       <chr> <chr>   <dbl>
 1     3 ?     alfa-romero   gas   std   two   convertible rwd   front    88.6
 2     1 ?     alfa-romero   gas   std   two   hatchback   rwd   front    94.5
 3     2 164   audi          gas   std   four  sedan       fwd   front    99.8
 4     2 164   audi          gas   std   four  sedan       4wd   front    99.4
 5     2 ?     audi          gas   std   two   sedan       fwd   front    99.8
 6     1 158   audi          gas   std   four  sedan       fwd   front   106.
 7     1 ?     audi          gas   std   four  wagon       fwd   front   106.
 8     1 158   audi          gas   turbo four  sedan       fwd   front   106.
 9     0 ?     audi          gas   turbo two   hatchback   4wd   front    99.5
10     2 192   bmw           gas   std   two   sedan       rwd   front   101.
# ℹ 194 more rows
# ℹ 16 more variables: `168.80` <dbl>, `64.10` <dbl>, `48.80` <dbl>,
#   `2548` <dbl>, dohc <chr>, four <chr>, `130` <dbl>, mpfi <chr>,
#   `3.47` <chr>, `2.68` <chr>, `9.00` <dbl>, `111` <chr>, `5000` <chr>,
#   `21` <dbl>, `27` <dbl>, `13495` <chr>

(d) Create a new data set by imputing all the missing values with 0.

In [29]:
library(imputeTS)

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo


Attaching package: 'imputeTS'


The following objects are masked from 'package:na.tools':

    na.mean, na.replace

In [32]:
new_data <- impute(data, method = "interpolation", values = c("0"))
print(new_data)

# A tibble: 204 × 26
     `3` `?`   `alfa-romero` gas   std   two   convertible rwd   front `88.60`
   <dbl> <chr> <chr>         <chr> <chr> <chr> <chr>       <chr> <chr>   <dbl>
 1     3 ?     alfa-romero   gas   std   two   convertible rwd   front    88.6
 2     1 ?     alfa-romero   gas   std   two   hatchback   rwd   front    94.5
 3     2 164   audi          gas   std   four  sedan       fwd   front    99.8
 4     2 164   audi          gas   std   four  sedan       4wd   front    99.4
 5     2 ?     audi          gas   std   two   sedan       fwd   front    99.8
 6     1 158   audi          gas   std   four  sedan       fwd   front   106.
 7     1 ?     audi          gas   std   four  wagon       fwd   front   106.
 8     1 158   audi          gas   turbo four  sedan       fwd   front   106.
 9     0 ?     audi          gas   turbo two   hatchback   4wd   front    99.5
10     2 192   bmw           gas   std   two   sedan       rwd   front   101.
# ℹ 194 more rows
# ℹ 16 more variables: `168.80` <dbl>, `64.10` <dbl>, `48.80` <dbl>,
#   `2548` <dbl>, dohc <chr>, four <chr>, `130` <dbl>, mpfi <chr>,
#   `3.47` <chr>, `2.68` <chr>, `9.00` <dbl>, `111` <chr>, `5000` <chr>,
#   `21` <dbl>, `27` <dbl>, `13495` <chr>

(e) Create a new data set by imputing the mean in all the columns which have double type values.

In [38]:
# Create a new dataset with mean imputation for double type columns
new_data_e <- impute_mean(data, type = "double")

# Print the new dataset
print(new_data_e)

NULL

(f) Create a new data set by imputing the mode in all the columns which have integer type values.

In [43]:
new_dataf <- data

# Identify columns with integer type values
integer_columns <- sapply(new_dataf, is.integer)

# Impute missing values with mode for integer columns
new_dataf[, integer_columns] <- lapply(new_dataf[, integer_columns], function(x) {
  mode_value <- names(sort(-table(x)))[1]
  x[is.na(x)] <- as.integer(mode_value)
  x
})
print(new_dataf)

# A tibble: 204 × 26
     `3` `?`   `alfa-romero` gas   std   two   convertible rwd   front `88.60`
   <dbl> <chr> <chr>         <chr> <chr> <chr> <chr>       <chr> <chr>   <dbl>
 1     3 ?     alfa-romero   gas   std   two   convertible rwd   front    88.6
 2     1 ?     alfa-romero   gas   std   two   hatchback   rwd   front    94.5
 3     2 164   audi          gas   std   four  sedan       fwd   front    99.8
 4     2 164   audi          gas   std   four  sedan       4wd   front    99.4
 5     2 ?     audi          gas   std   two   sedan       fwd   front    99.8
 6     1 158   audi          gas   std   four  sedan       fwd   front   106.
 7     1 ?     audi          gas   std   four  wagon       fwd   front   106.
 8     1 158   audi          gas   turbo four  sedan       fwd   front   106.
 9     0 ?     audi          gas   turbo two   hatchback   4wd   front    99.5
10     2 192   bmw           gas   std   two   sedan       rwd   front   101.
# ℹ 194 more rows
# ℹ 16 more variables: `168.80` <dbl>, `64.10` <dbl>, `48.80` <dbl>,
#   `2548` <dbl>, dohc <chr>, four <chr>, `130` <dbl>, mpfi <chr>,
#   `3.47` <chr>, `2.68` <chr>, `9.00` <dbl>, `111` <chr>, `5000` <chr>,
#   `21` <dbl>, `27` <dbl>, `13495` <chr>

(g) Create a new data set by imputing the most frequent value to the column ”nDoors”.

In [47]:
# Create a new dataset by imputing the most frequent value to "nDoors"
new_data_g <- impute_replace(data, target = "nDoors", method = "mode")

# Print the new dataset
print(new_data_g)

NULL

(h) Combine the three last imputations to obtain a final dataset. Are there any duplicated cases?

In [49]:
# Combine the three imputed datasets into a final dataset
final_data <- bind_cols(new_data_e, new_dataf, new_data_g)

# Check for duplicated cases
duplicated_cases <- final_data %>% distinct() %>% count()

# Print the count of duplicated cases
print(duplicated_cases)

# A tibble: 1 × 1
      n
  <int>
1   204

**2. Data Pre-Processing**

2. Load the package dlookr. Use the same car insurance data set above and apply the following transformations to the price attribute. Be critical regarding the obtained results.

In [57]:
install.packages("dlookr")

Installing package into 'C:/Users/pc/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

package 'dlookr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\pc\AppData\Local\Temp\RtmpSsQegv\downloaded_packages

In [71]:
library(dlookr)

In [79]:
# Imprimir los nombres de las columnas
print(names(data))
#[26] es el precio, entonces seria 13495

 [1] "3"           "?"           "alfa-romero" "gas"         "std"
 [6] "two"         "convertible" "rwd"         "front"       "88.60"
[11] "168.80"      "64.10"       "48.80"       "2548"        "dohc"
[16] "four"        "130"         "mpfi"        "3.47"        "2.68"
[21] "9.00"        "111"         "5000"        "21"          "27"
[26] "13495"

In [81]:
# Paso 1: Cargar el conjunto de datos y asignarlo a una variable (por ejemplo, 'data')
#DEBEMOS CAMBIAR EL NOMBRE PARA USARLO
# Paso 2: Obtener los nombres de las columnas actuales
column_names <- colnames(data)

# Paso 3: Cambiar el nombre de la columna deseada
column_names[26] <- "price"

# Paso 4: Actualizar los nombres de las columnas en el conjunto de datos
colnames(data) <- column_names

In [86]:
# Verificar el tipo de datos de la columna "price"
class(data$price)

# Contar los valores faltantes en la columna "price"
sum(is.na(data$price))

[1] "character"

[1] 0

In [85]:
# Range-based normalization
range_normalized <- (data$price - min(data$price)) / (max(data$price) - min(data$price))

# Z-score normalization
zscore_normalized <- (data$price - mean(data$price)) / sd(data$price)

# Print the results
print(range_normalized)
print(zscore_normalized)

ERROR: Error in data$price - min(data$price): argumento no-numérico para operador binario